#define IDD_DIALOG 1000
#define IDC_SB2 1001
IDD_DIALOG DIALOGEX 6,6,189,99
CAPTION "SimpleButton Example #2"
FONT 8,"Segoe UI",400,0
CLASS "DLGCLASS"
STYLE 0x10CC0800
EXSTYLE 0x00000000
BEGIN
  CONTROL "SimpleButton Rules!",IDC_SB2,"SimpleButton_Control",0x50000006,26,36,133,18,0x00000000
END